*,
*::before,
*::after {
  box-sizing: border-box; }

ul[class],
ol[class] {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

ul[class],
ol[class] {
  list-style: none; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img,
picture {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #ABB2BF;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #383e49; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #9aa2b1; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #282c34; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5C6370; }

.token.punctuation {
  color: #abb2bf; }

.token.selector,
.token.tag {
  color: #e06c75; }

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d19a66; }

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #98c379; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56b6c2; }

.token.atrule,
.token.keyword {
  color: #c678dd; }

.token.function {
  color: #61afef; }

.token.regex,
.token.important,
.token.variable {
  color: #c678dd; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #5C6370;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

main, .card, .card-small {
  zoom: 1; }
  main:before, .card:before, .card-small:before, main:after, .card:after, .card-small:after {
    content: "";
    display: table; }
  main:after, .card:after, .card-small:after {
    clear: both; }

body {
  padding: 0;
  margin: 0;
  color: #2A363B;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; }

main {
  overflow: hidden;
  padding: 30px 0; }

article, header, footer {
  max-width: 650px;
  min-width: 300px;
  margin-left: 3%;
  margin-right: 3%; }
  @media (min-width: 650px) {
    article, header, footer {
      margin-left: 4%;
      margin-right: 4%; } }
  @media (min-width: 1050px) {
    article, header, footer {
      margin-left: 5%;
      margin-right: 5%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.1em;
  clear: both;
  margin: 1em 0 0.66em; }

h1 {
  font-size: 1.9em; }

h2 {
  font-size: 1.55em; }

h3 {
  font-size: 1.38em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

a {
  text-decoration: none;
  color: #0b84fe; }
  a:hover {
    text-decoration: underline; }
    a:hover > img {
      opacity: 0.9; }

img {
  height: auto;
  display: block;
  float: none;
  margin: 2em auto;
  max-width: 100%; }

p,
ol,
ul,
pre {
  margin-bottom: 30px; }

li {
  margin-bottom: 10px; }
  li:last-child {
    margin-bottom: 0; }

ol {
  padding-left: 1.5em;
  list-style: decimal; }

ul {
  padding-left: 1.5em;
  list-style: circle; }

img {
  display: block;
  height: auto;
  float: none;
  margin: 2em auto;
  max-width: 100%; }

iframe {
  width: 100%;
  max-width: 100%;
  min-height: 20em;
  display: block;
  margin: 1.5em 0; }

blockquote {
  margin: 1.5em 0;
  background: #f0f3f4;
  padding: 0.9em 1.1em;
  border-radius: 1px;
  position: relative;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0;
    border: none; }

hr {
  border: none;
  border-bottom: 1px solid #d2dbdf; }

small {
  font-size: 12px; }

code {
  display: inline-block;
  white-space: nowrap;
  background-color: #f0f3f4;
  padding: 0 0.4em;
  font-size: 0.9em;
  font-family: Consolas, "Andale Mono", monospace; }

code[class*="language-"],
pre[class*="language-"] {
  font-size: 12px !important; }

pre[class*="language-"] {
  max-width: 108%;
  margin-left: -4%;
  margin-right: -4%;
  padding: 30px; }
  @media (min-width: 650px) {
    pre[class*="language-"] {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  pre[class*="language-"] pre {
    margin: 0;
    padding: 0; }

.logo {
  text-align: center;
  margin-bottom: 30px; }
  @media (min-width: 650px) {
    .logo {
      text-align: left; } }
  .logo svg {
    max-width: 230px;
    display: inline-block; }

.post-header {
  text-align: center; }
  @media (min-width: 650px) {
    .post-header {
      text-align: left; } }

.date, .sub-head {
  font-size: 12px;
  margin-bottom: 10px;
  font-family: Consolas, "Andale Mono", monospace;
  line-height: 18px; }
  .date span, .sub-head span {
    background: #f0f3f4;
    display: inline-block;
    padding: 0.1em 0.5em; }

.sub-head {
  font-weight: normal;
  font-size: 15px; }
  .sub-head span {
    background: #fff56e; }

.title {
  text-align: center;
  margin: 0 0 30px; }
  @media (min-width: 650px) {
    .title {
      text-align: left; } }
  .title h1 {
    background-color: #fff56e;
    line-height: 1.35em;
    display: inline; }
  .title strong {
    font-family: Consolas, "Andale Mono", monospace;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 10px; }

.hr {
  border-bottom: 1px solid #fea6ff;
  font-size: 15px;
  padding-bottom: 0.25em;
  padding-left: 3%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 70px;
  margin-bottom: 70px; }
  @media (min-width: 650px) {
    .hr {
      padding-left: 0; } }

.aligncenter {
  max-width: 108%;
  margin-left: -4%;
  margin-right: -4%; }
  @media (min-width: 650px) {
    .aligncenter {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0; } }

@media (min-width: 650px) {
  .alignleft {
    float: left;
    margin: 0 1em 1em 0; } }

@media (min-width: 650px) {
  .alignright {
    float: right;
    margin: 0 0 1em 1em; } }

.pink {
  color: #fea6ff; }

.small {
  font-size: 15px; }

.tag {
  display: inline-block;
  padding: 0 0.7em;
  line-height: 2em;
  background-color: #f0f7ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  margin: 0 0.1em 0.4em;
  font-size: 15px; }
  .tag:hover {
    background: none; }
  .tag span {
    display: inline-block;
    font-family: Consolas, "Andale Mono", monospace;
    font-size: 12px;
    margin-left: 1em; }

.card {
  margin: 0 0 30px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .card p {
    margin-bottom: 10px; }
    .card p:last-child {
      margin-bottom: 0; }
  .card h2 {
    clear: none;
    font-size: 1.2em;
    margin: 0 0 10px; }
  .card img {
    width: 120px;
    float: right;
    margin: 0 0 0 1em; }
    @media (min-width: 650px) {
      .card img {
        width: 150px;
        margin-left: 2em; } }

.card-small {
  margin: 0 0 30px; }
  .card-small .date, .card-small .sub-head {
    margin: 0 0 5px; }
  .card-small h3 {
    font-size: 18px;
    margin: 0; }

blockquote.info-block {
  background: #dbedff;
  font-style: normal; }

blockquote.warning-block {
  background: #fffcd4;
  font-style: normal; }
