*,
*::before,
*::after {
  box-sizing: border-box; }

ul[class],
ol[class] {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

ul[class],
ol[class] {
  list-style: none; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img,
picture {
  max-width: 100%;
  display: block; }

article > * + * {
  margin-top: 1em; }

input,
button,
textarea,
select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #ABB2BF;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #383e49; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #9aa2b1; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #282c34; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5C6370; }

.token.punctuation {
  color: #abb2bf; }

.token.selector,
.token.tag {
  color: #e06c75; }

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d19a66; }

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #98c379; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56b6c2; }

.token.atrule,
.token.keyword {
  color: #c678dd; }

.token.function {
  color: #61afef; }

.token.regex,
.token.important,
.token.variable {
  color: #c678dd; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #5C6370;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

body {
  color: #23282D;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  max-width: 700px;
  min-width: 400px;
  margin: 2%;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  overflow: hidden; }
  @media (min-width: 600px) {
    body {
      margin: 3%; } }
  @media (min-width: 1050px) {
    body {
      margin: 4%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.1em;
  clear: both;
  margin: 1em 0 0.66em; }

h1 {
  font-size: 1.9em;
  margin: 0 0 25px;
  background: #fffd5a;
  padding: 0.3em 0.4em; }

h2 {
  font-size: 1.55em; }
  h2.hr {
    border-bottom: 1px solid #b9c1c9;
    font-size: 0.75em;
    padding-bottom: 0.25em;
    padding-left: 3%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b9c1c9;
    margin-top: 4em;
    margin-bottom: 4em; }
    @media (min-width: 600px) {
      h2.hr {
        padding-left: 0; } }

h3 {
  font-size: 1.38em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

a {
  text-decoration: none;
  color: #0b84fe; }
  a:hover {
    text-decoration: underline; }
    a:hover > img {
      opacity: 0.9; }

img {
  height: auto;
  display: block;
  float: none;
  margin: 2em auto;
  max-width: 100%; }

p,
ol,
ul {
  margin-bottom: 25px; }

li {
  margin-bottom: 10px; }
  li:last-child {
    margin-bottom: 0; }

ol {
  padding-left: 2em;
  list-style: decimal; }

ul {
  padding-left: 2em;
  list-style: circle; }
  ul.jch-list__2-col {
    padding-left: 0;
    list-style: none;
    margin-bottom: 2em;
    font-size: 0.9em; }

img {
  display: block;
  height: auto;
  float: none;
  margin: 2em auto;
  max-width: 100%; }

iframe {
  width: 100%;
  max-width: 100%;
  min-height: 20em;
  display: block;
  margin: 1.5em 0; }

blockquote {
  margin: 1.5em 0;
  font-size: 1.05em;
  background: #ededf2;
  padding: 0.9em 1.1em;
  border-radius: 1px;
  position: relative; }
  blockquote > :last-child {
    margin-bottom: 0;
    border: none; }

hr {
  border-color: #d0d5db; }

code {
  display: inline-block;
  white-space: nowrap;
  background-color: #e3ff50;
  padding: 0 0.4em;
  font-size: 0.9em;
  font-family: Consolas, "Andale Mono", monospace; }

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.82em; }

pre[class*="language-"] {
  margin: 1.5em 0;
  padding: 0.5em; }

.aligncenter {
  max-width: 106%;
  margin-left: -3%;
  margin-right: -3%; }
  @media (min-width: 600px) {
    .aligncenter {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0; } }

@media (min-width: 600px) {
  img.alignleft {
    float: left;
    margin: 0 1em 1em 0; } }

@media (min-width: 600px) {
  img.alignright {
    float: right;
    margin: 0 0 1em 1em; } }

.logo {
  margin-bottom: 25px; }
  .logo a {
    display: block;
    line-height: 0; }
  .logo svg {
    max-width: 200px;
    display: inline-block; }

.date {
  font-size: 0.75em;
  margin-bottom: 10px;
  font-family: Consolas, "Andale Mono", monospace; }
  .date span {
    background: #a6fffe;
    display: inline-block;
    padding: 0.1em 0.5em; }
