html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #0b84fe;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #096acb;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #0b84fe; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #0b84fe;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(1, 119, 239, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #0b84fe;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:hover {
    color: #075aad; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/*
 * Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Demo: https://marc.dev/demo/prism-synthwave84
 *
 * Ported for PrismJS by Marc Backes [@themarcba]
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #2a2139 75%, #34294f); }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8e8e8e; }

.token.punctuation {
  color: #ccc; }

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
  color: #e2777a; }

.token.property,
.token.selector {
  color: #72f1b8;
  text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475; }

.token.function-name {
  color: #6196cc; }

.token.boolean,
.token.selector .token.id,
.token.function {
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975; }

.token.class-name {
  color: #fff5f6;
  text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75; }

.token.constant,
.token.symbol {
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3; }

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575; }

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #f87c32; }

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.inserted {
  color: green; }

.jch-row .inner, .jch-post--article, .gallery, .jch-list__pages li, .jch-list__posts li, .jch-list__feed li, .jch-list__2-col, .jch-list__tech, .jch-list__tech li, .jch-post--nav {
  zoom: 1; }
  .jch-row .inner:before, .jch-post--article:before, .gallery:before, .jch-list__pages li:before, .jch-list__posts li:before, .jch-list__feed li:before, .jch-list__2-col:before, .jch-list__tech:before, .jch-list__tech li:before, .jch-post--nav:before, .jch-row .inner:after, .jch-post--article:after, .gallery:after, .jch-list__pages li:after, .jch-list__posts li:after, .jch-list__feed li:after, .jch-list__2-col:after, .jch-list__tech:after, .jch-list__tech li:after, .jch-post--nav:after {
    content: "";
    display: table; }
  .jch-row .inner:after, .jch-post--article:after, .gallery:after, .jch-list__pages li:after, .jch-list__posts li:after, .jch-list__feed li:after, .jch-list__2-col:after, .jch-list__tech:after, .jch-list__tech li:after, .jch-post--nav:after {
    clear: both; }

body, .jch-list {
  padding: 0;
  margin: 0; }

.jch-row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  width: 100%; }
  .jch-row::after {
    clear: both;
    content: "";
    display: table; }
  .jch-row .inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2%;
    position: relative; }
    .jch-row .inner::after {
      clear: both;
      content: "";
      display: table; }

.jch-type__more-link, .jch-list--more-link a {
  padding: 0.4em 1em 0.5em;
  text-align: center;
  border: 2px solid #0b84fe;
  border-radius: 1em;
  line-height: 1em; }
  .jch-type__more-link:hover, .jch-list--more-link a:hover, .active.jch-type__more-link, .jch-list--more-link a.active {
    background-color: #0b84fe;
    color: white; }

.jch-post--article {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  line-height: 1.6em;
  font-size: 1.1em; }
  @media (min-width: 650px) {
    .jch-post--article {
      font-size: 1.2em; } }
  .jch-post--article h1,
  .jch-post--article h2,
  .jch-post--article h3,
  .jch-post--article h4,
  .jch-post--article h5,
  .jch-post--article h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.1em;
    clear: both; }
  .jch-post--article h1 {
    font-size: 1.9em;
    margin: 0 0 0.5em; }
  
  .jch-post--article h2 {
    font-size: 1.55em; }
    .jch-post--article h2.hr {
      border-bottom: 1px solid #b9c1c9;
      font-size: 0.75em;
      padding-bottom: 0.25em;
      padding-left: 3%;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #b9c1c9;
      margin-top: 4em;
      margin-bottom: 4em; }
      @media (min-width: 650px) {
        .jch-post--article h2.hr {
          padding-left: 0; } }
  
  .jch-post--article h3 {
    font-size: 1.38em; }
  
  .jch-post--article h4 {
    font-size: 1.25em; }
  
  .jch-post--article h5 {
    font-size: 1.1em; }
  
  .jch-post--article h6 {
    font-size: 1em; }
  .jch-post--article p,
  .jch-post--article ol,
  .jch-post--article ul {
    margin-bottom: 1em; }
    .jch-post--article p:last-child,
    .jch-post--article ol:last-child,
    .jch-post--article ul:last-child {
      margin-bottom: 0; }
  .jch-post--article li {
    margin-bottom: 0.75em; }
    .jch-post--article li:last-child {
      margin-bottom: 0; }
  
  .jch-post--article ol {
    padding-left: 2em;
    list-style: decimal; }
  
  .jch-post--article ul {
    padding-left: 2em;
    list-style: circle; }
    .jch-post--article ul.jch-list__2-col {
      padding-left: 0;
      list-style: none;
      margin-bottom: 2em;
      font-size: 0.9em; }
  .jch-post--article img {
    display: block;
    height: auto;
    float: none;
    margin: 2em auto;
    max-width: 100%; }
  .jch-post--article .aligncenter {
    max-width: 106%;
    margin-left: -3%;
    margin-right: -3%; }
    @media (min-width: 650px) {
      .jch-post--article .aligncenter {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  @media (min-width: 650px) {
    .jch-post--article img.alignleft {
      float: left;
      margin: 0 1em 1em 0; } }
  @media (min-width: 650px) {
    .jch-post--article img.alignright {
      float: right;
      margin: 0 0 1em 1em; } }
  .jch-post--article iframe {
    width: 100%;
    max-width: 100%;
    min-height: 20em;
    display: block;
    margin: 1.5em 0; }
  .jch-post--article blockquote {
    margin: 1.5em 0;
    font-size: 1.05em; }
  .jch-post--article hr {
    border-color: #d0d5db; }

.jch-post--article blockquote, .jch-list__posts blockquote, .jch-list__feed blockquote {
  background: #ededf2;
  padding: 0.9em 1.1em;
  border-radius: 1px;
  position: relative; }
  .jch-post--article blockquote p:last-child, .jch-list__posts blockquote p:last-child, .jch-list__feed blockquote p:last-child {
    margin-bottom: 0;
    border: none; }

body {
  color: #23282D;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  height: auto; }

code {
  display: inline-block;
  white-space: nowrap;
  background-color: #ededf2;
  padding: 0 0.4em;
  font-size: 0.9em; }

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.85em; }

pre[class*="language-"] {
  margin: 1.5em 0;
  padding: 0.5em; }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.wp-caption {
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
  font-size: 0.75em; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.gallery-columns-2 .gallery-item {
  width: 48%; }

.gallery-columns-3 .gallery-item {
  width: 31%; }

.gallery-columns-4 .gallery-item {
  width: 23%; }

.gallery-columns-5 .gallery-item {
  width: 18%; }

.gallery figure.gallery-item {
  margin: 0 1% 1.5em;
  float: left; }

.jch-clear {
  clear: both; }

.jch-type__more-link {
  display: block;
  margin: 2em auto 0;
  width: 60%; }
  @media (min-width: 650px) {
    .jch-type__more-link {
      width: 100%;
      margin-left: 0; } }
  @media (min-width: 1050px) {
    .jch-type__more-link {
      width: 60%; } }

.jch-type__white {
  color: white; }

.jch-tag {
  display: inline-block;
  padding: 0.5em 0.75em;
  margin: 0 2px 5px 0;
  white-space: nowrap;
  line-height: 1.25em;
  font-size: 0.9em;
  background: #dfeaf4; }
  .jch-tag:hover {
    background: none; }
  .jch-tag strong {
    display: inline-block;
    font-size: 0.8em;
    padding: 0.1em 0.6em;
    background: white;
    border-radius: 1em; }

@keyframes bobbing {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-out; }
  10% {
    transform: translateY(-4px);
    animation-timing-function: ease-out; }
  30% {
    transform: translateY(4px);
    animation-timing-function: ease-out; }
  40% {
    transform: translateY(0);
    animation-timing-function: ease-out; } }

@keyframes angle-down {
  0%, 100% {
    content: '\e803'; }
  33% {
    content: '\e803\A\e803'; }
  66% {
    content: '\e803\A\e803\A\e803'; } }

.jch-row {
  padding: 4em 0; }
  .jch-row__dark {
    background: #ededf2; }

.jch-col {
  width: 100%;
  margin-bottom: 2em;
  padding: 0 2%;
  clear: both; }
  .jch-col:last-child {
    margin-bottom: 0; }
  @media (min-width: 650px) {
    .jch-col {
      margin-bottom: 0;
      clear: none; } }
  .jch-col--row-head {
    font-size: 2em;
    text-align: center;
    margin: -1em 0 1em; }
    @media (min-width: 1050px) {
      .jch-col--row-head {
        margin: 0; } }
  .jch-col--col-head {
    border-bottom: 1px solid #cfcfdd;
    padding: 0 0 0.5em;
    margin: 0 0 1em;
    line-height: 1.2em;
    font-size: 1.4em; }
  .jch-col__left:first-child {
    margin-bottom: 0; }
  @media (min-width: 1050px) {
    .jch-col__left {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .jch-col__left:last-child {
        margin-right: 0; } }
  .jch-col__middle {
    max-width: 700px;
    overflow: hidden; }
    @media (min-width: 650px) {
      .jch-col__middle {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%; }
        .jch-col__middle:last-child {
          margin-right: 0; } }
    @media (min-width: 1050px) {
      .jch-col__middle {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        padding: 0; }
        .jch-col__middle:last-child {
          margin-right: 0; } }
  .jch-col__right {
    display: none; }
    @media (min-width: 650px) {
      .jch-col__right {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        max-width: 300px;
        display: block; }
        .jch-col__right:last-child {
          margin-right: 0; } }
    .jch-col__right .jch-list__posts--content {
      margin-right: 0; }
    .jch-col__right .jch-list__posts--live-on {
      display: none; }
    .jch-col__right .jch-list__meta {
      margin-bottom: 0; }
  .jch-col__middle-right {
    width: 100%;
    max-width: 1060px; }
    @media (min-width: 1050px) {
      .jch-col__middle-right {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%;
        padding-left: 0; }
        .jch-col__middle-right:last-child {
          margin-right: 0; } }
  @media (min-width: 650px) {
    .jch-col__pad-vert {
      padding-top: 2em; } }
  @media (min-width: 1050px) {
    .jch-col__pad-vert {
      padding-top: 4em; } }
  @media (min-width: 650px) {
    .jch-col__pad-vert-more {
      padding-top: 4em; } }
  @media (min-width: 1050px) {
    .jch-col__pad-vert-more {
      padding-top: 8em; } }

.pagination-links a,
.pagination-links .current {
  display: inline-block;
  text-align: center;
  padding: 0.1em 0.6em 0.25em; }

.pagination-links a {
  background: #57aafe;
  color: white; }
  .pagination-links a:hover {
    background-color: #0b84fe; }

.jch-list {
  list-style: none; }
  .jch-list--title {
    font-size: 1.2em;
    margin: 0 0 0.5em;
    font-weight: 500; }
    .jch-list--title .icon {
      font-size: 16px; }
  .jch-list--mini-title {
    font-size: 16px;
    margin: 0 0 0.5em;
    font-weight: 400; }
  .jch-list--more-link {
    text-align: right; }
    .jch-list--more-link a {
      display: block; }
      @media (min-width: 650px) {
        .jch-list--more-link a {
          display: inline-block; } }
  .jch-list li {
    margin: 0 0 1.2em;
    clear: both; }
    .jch-list li:last-child {
      margin-bottom: 0; }
  .jch-list__links li {
    margin: 0;
    padding: 0.8em 0;
    line-height: 1.2em; }
  .jch-list__pages li {
    margin: 0 0 1.5em; }
  .jch-list__posts li, .jch-list__feed li {
    margin: 0;
    padding: 1em 0 2em; }
  .jch-list__posts--img, .jch-list__feed--img {
    background: white;
    padding: 0;
    box-shadow: 0 1px 2px #ddd;
    border-radius: 1px;
    float: right;
    margin: 0 0 0 1em;
    width: 100px; }
    @media (min-width: 650px) {
      .jch-list__posts--img, .jch-list__feed--img {
        width: 150px; } }
  .jch-list__posts--feat-img, .jch-list__feed--feat-img {
    margin: 0.6em auto;
    display: block; }
  .jch-list__posts blockquote, .jch-list__feed blockquote {
    margin: 0 0 0.75em; }
  .jch-list__posts a:hover img, .jch-list__feed a:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60); }
  .jch-list__posts--content, .jch-list__feed--content {
    margin-right: 116px; }
    @media (min-width: 650px) {
      .jch-list__posts--content, .jch-list__feed--content {
        margin-right: 166px; } }
  .jch-list__posts--meta, .jch-list__feed--meta {
    font-size: 0.75em; }
    .jch-list__posts--meta .icon:before, .jch-list__feed--meta .icon:before {
      margin: 0 0.3em 0 0; }
  .jch-list__meta {
    font-size: 0.9em;
    margin-bottom: 2em; }
    .jch-list__meta > li {
      margin: 0 0 2em; }
    .jch-list__meta p {
      margin: 0;
      display: inline; }
      .jch-list__meta p:first-child {
        line-height: 2em; }
      @media (min-width: 650px) {
        .jch-list__meta p {
          display: block; } }
    .jch-list__meta br {
      display: none; }
      @media (min-width: 650px) {
        .jch-list__meta br {
          display: block; } }
    .jch-list__meta a .icon {
      background-color: #0b84fe;
      display: inline-block;
      line-height: 24px;
      width: 24px;
      border-radius: 24px;
      color: white;
      text-align: center;
      vertical-align: middle; }
  .jch-list__2-col {
    margin: 2em 0;
    padding: 2em 0;
    list-style: none;
    border-top: 1px solid #ededf2;
    border-bottom: 1px solid #ededf2; }
    @media (min-width: 650px) {
      .jch-list__2-col {
        padding-bottom: 0; } }
    .jch-list__2-col li {
      margin: 0 0 2em; }
      @media (min-width: 650px) {
        .jch-list__2-col li {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          padding-right: 2em; }
          .jch-list__2-col li:last-child {
            margin-right: 0; }
          .jch-list__2-col li:nth-child(2n) {
            margin-right: 0; }
          .jch-list__2-col li:nth-child(2n+1) {
            clear: left; } }
  .jch-list__tech {
    margin-bottom: 2em; }
    .jch-list__tech li {
      padding: 1em;
      margin-bottom: 0;
      text-align: center;
      width: 50%;
      float: left;
      height: 5em;
      clear: none; }
      @media (min-width: 650px) {
        .jch-list__tech li {
          width: 33.333%; } }
      @media (min-width: 1050px) {
        .jch-list__tech li {
          width: 85%;
          float: none;
          clear: both;
          margin: 0 auto 4px;
          max-width: 250px; } }
    .jch-list__tech span {
      color: white;
      font-size: 2em;
      font-weight: 700; }
    .jch-list__tech svg {
      display: block;
      margin: 0 auto;
      height: 100%;
      max-height: 85px;
      max-width: 140px; }
    .jch-list__tech .jch-tech__js {
      background-color: #F8DC3D; }
      .jch-list__tech .jch-tech__js path {
        fill: #2E2E2C; }
    .jch-list__tech .jch-tech__php {
      background-color: #6082BB; }
      .jch-list__tech .jch-tech__php path {
        fill: white; }
    .jch-list__tech .jch-tech__wp {
      background-color: #21759b; }
      .jch-list__tech .jch-tech__wp path {
        fill: white; }
    .jch-list__tech .jch-tech__html {
      background-color: #E44D26; }
      .jch-list__tech .jch-tech__html svg {
        width: 66%; }
    .jch-list__tech .jch-tech__sass {
      background-color: #CD669A; }
      .jch-list__tech .jch-tech__sass path {
        fill: white; }
    .jch-list__tech .jch-tech__mysql {
      background-color: #00618A; }
      .jch-list__tech .jch-tech__mysql path {
        fill: white; }

.jch-head {
  margin-top: -2em;
  transition: margin 0.3s;
  padding-bottom: 3em; }
  @media (min-width: 650px) {
    .jch-head {
      margin-top: 0;
      padding-bottom: 0; } }
  .jch-head--logo {
    display: block;
    width: 100%;
    margin: -3em auto 0;
    max-width: 250px; }
    .jch-head--logo svg {
      max-height: 100%; }
    @media (min-width: 650px) {
      .jch-head--logo {
        width: 33%; } }
    @media (min-width: 1050px) {
      .jch-head--logo {
        width: 250px;
        max-width: 100%;
        margin-top: 0; } }
  .jch-head--tagline {
    font-size: 0.9em; }

.admin-bar .jch-head--nav--close a {
  padding-top: 3em; }

.jch-row__footer {
  background-color: #23282D;
  color: #ededf2;
  font-size: 0.9em;
  padding: 4em 0; }
  .jch-row__footer .jch-col__right {
    text-align: center; }
  .jch-row__footer .icon-wordpress {
    font-size: 6em; }
  .jch-row__footer a {
    color: #3e9efe; }
    .jch-row__footer a:hover {
      color: #0b84fe; }

.jch-post--article > h1 {
  text-align: center; }
  @media (min-width: 650px) {
    .jch-post--article > h1 {
      text-align: left; } }

.jch-post--date {
  font-style: italic;
  font-size: 0.75em;
  text-align: center; }
  @media (min-width: 650px) {
    .jch-post--date {
      text-align: left; } }

.jch-post--nav {
  padding-bottom: 1em; }
  .jch-post--nav--label {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: 1px;
    margin-bottom: 0.5em; }

.jch-post--prev, .jch-post--next {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  display: block;
  line-height: 1.2em; }
  .jch-post--prev:last-child, .jch-post--next:last-child {
    margin-right: 0; }

.jch-post--prev {
  padding-right: 5%; }

.jch-post--next {
  padding-left: 5%;
  text-align: right; }
