//
// Touches everything
//

@use "mixins"
@use "variables"
@use "extends"

body
	+mixins.no_space()
	color: variables.$f_color_base
	font-family: variables.$f_family_sans
	font-size: variables.$f_size_base
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004)
	font-family: variables.$f_family_serif
	line-height: 1.75em

main
	@extend %cf
	overflow: hidden
	padding: variables.$p_medium 0

article, header, footer
	max-width: variables.$b_small
	min-width: variables.$l_min_width
	margin-left: 3%
	margin-right: 3%

	+mixins.larger_than_phone
		margin-left: 4%
		margin-right: 4%

	+mixins.larger_than_tablet
		margin-left: 5%
		margin-right: 5%

h1,
h2,
h3,
h4,
h5,
h6
	font-family: variables.$f_family_sans
	line-height: 1.1em
	clear: both
	margin: variables.$p_medium 0 variables.$p_small_med 0

h1
	font-size: 1.7em

	+mixins.larger_than_phone
		font-size: 2em

h2
	font-size: 1.55em

h3
	font-size: 1.38em

h4
	font-size: 1.25em

h5
	font-size: 1.1em

h6
	font-size: 1em
	margin-bottom: 0.2em
	
a
	text-decoration: none
	color: variables.$c_blue

	&:hover
		text-decoration: underline

		> img
			opacity: 0.9

img
	height: auto
	display: block
	float: none
	margin: 2em auto
	max-width: 100%

figcaption
	font-size: variables.$f_size_small
	margin: -2em 0 3em

p,
pre
	margin: variables.$p_medium 0

ol,
ul
	margin: variables.$p_smallest 0

li
	margin: variables.$p_smallest 0

	&:last-child
		margin-bottom: 0

ol
	padding-left: 1.5em
	list-style: decimal

ul
	padding-left: 1.5em
	list-style: disc

	ul
		margin-top: 0
		margin-bottom: 0

img
	display: block
	height: auto
	float: none
	margin: 2em auto
	max-width: 100%

iframe
	width: 100%
	max-width: 100%
	min-height: 20em
	display: block
	margin: 1.5em 0

blockquote
	+mixins.aligncenter
	background: variables.$c_g_lightest
	padding: 6% 7%
	border-radius: 1px
	position: relative
	font-style: italic
	border: none

	+mixins.larger_than_phone
		padding: 4% 5%
		border-left: 6px solid variables.$c_g_medium
		border-radius: 3px

	> :first-child
		margin-top: 0

	> :last-child
		margin-bottom: 0
		border: none

hr
	border: none
	border-bottom: 1px solid variables.$c_g_light
	margin: variables.$p_medium 0

small
	font-size: variables.$f_size_smallest

code
	display: inline-block
	white-space: nowrap
	background-color: variables.$c_g_lightest
	padding: 0 0.4em
	font-size: 0.9em
	font-family: variables.$f_family_mono

code[class*="language-"],
pre[class*="language-"]
	font-size: variables.$f_size_smallest !important

pre[class*="language-"]
	+mixins.aligncenter()
	padding: variables.$p_medium

	pre
		margin: 0
		padding: 0
