.layout-clean
  h1 
    margin: 0
    font-size: 4em
  
  h2 span
    background-color: $c_vivid_yellow
  
  h3
    font-size: 1.2em
    margin: 2em 0 0.75em

    &::before
      content: "› "
      color: $c_vivid_pink
  
  ul
    list-style-type: disc
    padding-left: $p_medium
    font-size: $f_size_medium

    li
      margin: 0

  hr
    border: 4px solid $c_vivid_blue
    width: 4em

  .project
    border-left: 5px solid $c_blue_light
    border-radius: 5px
    margin-bottom: $p_medium
    padding-left: $p_small_med

    p
      line-height: 1.5em
      margin: 0 0 0.5em

  .display-tags
    padding: 0