<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
	{% include "partials/head.njk" %}
	<link rel="stylesheet" href="/_css/main-v2.css?2023-03-02" type="text/css" media="all">
</head>
<body id="top">
	<main>
		<header>
			<p class="logo"><a href="/">{% include 'svg/josh-can-help.svg' %}</a></p>
		</header>

		{% block content %}{% endblock %}

		<footer class="jch-row jch-row__footer">
			{% h2br %}Footer{% endh2br %}
			{% include "partials/find-me.html" %}
			<p>This work is licensed under a
				<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. This means you are free to copy and redistribute the material in any medium or format, and remix, transform, and build upon the material.
			</p>
			<p><img src="https://api.netlify.com/api/v1/badges/010504a8-4455-420d-a2ee-e4c659f57a45/deploy-status" alt="Netlify"></p>
		</footer>
	</main>
</body>
</html>
