<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="/_css/main-v2.css?2020-11-29-v02" type="text/css" media="all">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<link rel="alternate" type="application/atom+xml" title="RSS Feed for joshcanhelp.com" href="/feed.xml">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="LUHQNXTGWRW08M2FzdsoXt65KunT0hwMaXHCvNZnOO8">

	<title>{{ title }} - Josh Can Help</title>

	<meta property="og:title" content="{{ title }}">
	<meta property="og:locale" content="en_US">
	<meta property="og:site_name" content="Josh Can Help">
	<meta property="og:type" content="website">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:domain" content="Josh Can Help">
	<meta name="twitter:site" content="@joshcanhelp">

	{%- if excerpt -%}
	<meta name="description" content="{{ excerpt }}">
	<meta name="twitter:description" content="{{ excerpt }}">
	{%- endif -%}


	{%- if featured_img -%}
	<meta property="og:image" content="https://www.joshcanhelp.com{{ featured_img }}">
	<meta name="twitter:image" content="https://www.joshcanhelp.com{{ featured_img }}">
	{%- endif -%}

</head>
<body id="top">
	<main>
		<header>
			<p class="logo"><a href="/">{% include 'svg/josh-can-help.svg' %}</a></p>
		</header>

		{% block content %}{% endblock %}

		<footer class="jch-row jch-row__footer">
			{% h2br %}Footer{% endh2br %}
			{% include "partials/find-me.html" %}
			<p>This work is licensed under a
				<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. This means you are free to copy and redistribute the material in any medium or format, and remix, transform, and build upon the material.
			</p>
			<p><img src="https://api.netlify.com/api/v1/badges/010504a8-4455-420d-a2ee-e4c659f57a45/deploy-status" alt="Netlify"></p>
		</footer>
	</main>
</body>
</html>
