<div class="docco-code-sample">

    
    <p>First, install the <code>jsonwebtoken</code> package (<a href="https://www.npmjs.com/package/jsonwebtoken">npmjs.com</a>):</p>
<pre><code>$ npm install jsonwebtoken</code></pre>
<p>Require it at the top of your module:</p>

    
        <div class='highlight'><pre><span class="hljs-keyword">const</span> jwt = <span class="hljs-built_in">require</span>(<span class="hljs-string">&quot;jsonwebtoken&quot;</span>);</pre></div>
    

    
    <p>Now, we export a function to do the heavy lifting. </p>

    
        <div class='highlight'><pre><span class="hljs-built_in">module</span>.exports = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">makeToken</span>(<span class="hljs-params"></span>) </span>{</pre></div>
    

    
    <p>The session token payload includes claims typical of an OpenID Connect ID token.</p>

    
        <div class='highlight'><pre>  <span class="hljs-keyword">const</span> payload = {</pre></div>
    

    
    <p>The token audience - <code>aud</code> - indicates <strong>who is meant to consume the token</strong>.</p>

    
        <div class='highlight'><pre>    aud: <span class="hljs-string">&quot;AUDIENCE_ID&quot;</span>,</pre></div>
    

    
    <p>The token issuer - <code>iss</code> - indicates <strong>who generated the token</strong>.</p>

    
        <div class='highlight'><pre>    iss: <span class="hljs-string">`https://example.com/`</span>,</pre></div>
    

    
    <p>The token subject - <code>sub</code> - indicates <strong>who the token is meant to represent</strong>.</p>

    
        <div class='highlight'><pre>    sub: <span class="hljs-string">&quot;SUBJECT_ID&quot;</span>,
  };</pre></div>
    

    
    <p>This function will return a signed JSON Web Token - JWT - using the second 
parameter below as the signing key. This token will need that same value to 
check the token signature when validated. It will be obvious to some but the 
<code>&quot;TOKEN_SECRET&quot;</code> value below should be long, random, and never stored in 
the code.</p>

    
        <div class='highlight'><pre>  <span class="hljs-keyword">return</span> jwt.sign(payload, <span class="hljs-string">&quot;TOKEN_SECRET&quot;</span>, {</pre></div>
    

    
    <p>The <code>jsonwebtoken</code> library can accept plain English time representations.</p>

    
        <div class='highlight'><pre>    expiresIn: <span class="hljs-string">&quot;1 day&quot;</span>,
  });
};</pre></div>
    

    
    <p>And there you have it, a function that returns a signed token!</p>

    

</div>