---
title: "All Cocktails"
permalink: cocktails/index.html
wpid: 1300
---

{% extends "_html.njk" %}

{% from "macros/postListingSmall.njk" import postListingSmall %}

{% block content %}
  <article>
    <div class="title">
      <h1>All Cocktails <strong>{{ 
        ( collections.cocktailsMadeCollection | length ) + 
        ( collections.cocktailsNextCollection | length )
      }}</strong></h1>
    </div>

    {% h2br %}Cocktails Made [{{collections.cocktailsMadeCollection | length }}]{% endh2br %}
    {% for post in collections.cocktailsMadeCollection %}
      <div class="card-small">
        <h3>
          <a href="{{ post.url | safe }}">{{ post.data.title | safe }}</a>
        </h3>
      </div>
    {% endfor %}

    {% h2br %}Cocktails to Make [{{collections.cocktailsNextCollection | length }}]{% endh2br %}
    {% for post in collections.cocktailsNextCollection %}
       <div class="card-small">
        <h3>
          <a href="{{ post.url | safe }}">{{ post.data.title | safe }}</a>
        </h3>
      </div>
    {% endfor %}
  </article>
{% endblock %}