{% macro headFeaturedImg(img) %}
	{% if img %}
		<meta property="og:image" content="https://www.joshcanhelp.com{{ img }}">
		<meta name="twitter:image" content="https://www.joshcanhelp.com{{ img }}">
	{% endif %}
{% endmacro %}