//
// This file contains classes that are output by WordPress core functions.
// See: https://codex.wordpress.org/CSS
//

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

.wp-caption {
	max-width: 96%;
	padding: 5px 3px 10px;
	text-align: center;
	font-size: $f_size_smallest
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

// Screen reader text

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

// Media galleries inserted into content
// TODO: Build this out with grid system

.gallery-columns-2 {
	.gallery-item {
		width: 48%
	}
}

.gallery-columns-3 {

	.gallery-item {
		width: 31%
	}
}

.gallery-columns-4 {

	.gallery-item {
		width: 23%
	}
}

.gallery-columns-5 {

	.gallery-item {
		width: 18%
	}
}

.gallery {
	@extend %cf;

	figure.gallery-item {
		margin: 0 1% 1.5em;
		float: left;
	}
}