{% extends "_html.njk" %}

{% from "macros/cocktailListing.njk" import cocktailListing %}

{% block content %}
  <article>
    <div class="title">
      <h1>All Cocktails <strong>{{ 
        ( collections.cocktailsMadeCollection | length ) + 
        ( collections.cocktailsNextCollection | length )
      }}</strong></h1>
    </div>

    {{ content | safe }}

    {% h2br %}Cocktails Made [{{collections.cocktailsMadeCollection | length }}]{% endh2br %}
    {% for cocktail in collections.cocktailsMadeCollection %}
      {{ cocktailListing(cocktail) }}
    {% endfor %}

    {% h2br %}Cocktails to Make [{{collections.cocktailsNextCollection | length }}]{% endh2br %}
    {% for cocktail in collections.cocktailsNextCollection %}
       {{ cocktailListing(cocktail) }}
    {% endfor %}
  </article>
{% endblock %}