<ul>
    <li>
        Find out more <a href="/about/">about me</a> and see what I'm doing <a href="/now/">now</a>.
    </li>
    <li>
        Read <a href="/posts/">my posts</a>,
        see <a href="/tags/">my tags</a>,
        ponder <a href="/ideas/">some ideas</a>, 
        make a <a href="/cocktails/">cocktail</a>, 
        explore <a href="https://github.com/joshcanhelp/josh-to-11/commits/master">my site changes</a>,
        and
        parse <a href="/rss.xml">the RSS</a>.
    </li>
    <li>
        Find me on 
        <a href="https://github.com/joshcanhelp">GitHub</a>,
        <a href="https://www.linkedin.com/in/joshcanhelp/">LinkedIn</a>,
        <a href="https://packagist.org/users/joshcanhelp/">Composer</a>, and
        <a href="https://twitter.com/joshcanhelp">Twitter</a>
    </li>
</ul>

<p>Unless attributed, words, photographs, and graphics are my own. This blog is proudly built using <a
        href="https://www.11ty.dev">Eleventy</a>.</p>
