<ul>
    <li>
        Find out more <a href="/about/">about me</a>, see what I'm doing <a href="/now/">now</a>, or <a href="/hire-me/">hire me</a>.
    </li>
    <li>
        Read <a href="/posts/">my posts</a>,
        see <a href="/tags/">my tags</a>,
        explore <a href="https://github.com/joshcanhelp/josh-to-11/commits/master">site updates</a>,
        and
        parse <a href="/rss.xml">the RSS</a>.
    </li>
    <li>
        Find me on 
        <a href="https://github.com/joshcanhelp">GitHub</a>,
        <a href="https://www.linkedin.com/in/joshcanhelp/">LinkedIn</a>,
        <a href="https://x.com/joshcanhelp">Twitter/X</a>,
        <a href="https://www.npmjs.com/~joshcanhelp">npm</a>, and
        <a href="https://packagist.org/users/joshcanhelp/">Composer</a>
    </li>
</ul>