//
// Touches everything
//

body
	@extend %no_space
	color: $c_g_darkest
	font-family: $f_family_sans

h1,
h2,
h3,
h4,
h5,
h6
	font-family: $f_family_sans

a
	text-decoration: none

	&:hover
		text-decoration: none

img
	height: auto

code
	display: inline-block
	white-space: nowrap
	background-color: $c_g_lightest
	padding: 0 0.4em
	font-size: 0.9em

code[class*="language-"],
pre[class*="language-"]
	font-size: 0.85em

pre[class*="language-"]
	margin: 1.5em 0
	padding: 0.5em
