{% extends "_html.njk" %}

{% from "macros/postListing.njk" import postListing %}

{% block content %}
<main>
  <h1 class="jch-col--col-head">{{ title }} ({{ collections.postsCollection.length }})</h1>
  {{ content | safe }}
  <ul class="jch-list jch-list__feed">
  {% for post in collections.postsCollection %}
    <li>
      <div class="jch-list__posts--content">
        <h2 class="jch-list--title">
          <a href="{{ post.url | safe }}">{{ post.data.title | safe }}</a>
        </h2>
        <p>{{ post.data.excerpt | safe }}</p>
        <p class="jch-list__posts--meta">
          <strong class="jch-list__posts--live-on">Published: </strong>
          <span class="jch-list__posts--date">{{ post.date | dateformat }}</span>
        </p>
      </div>
    </li>
  {% endfor %}
  </ul>
</main>
{% endblock %}
