{% extends "_html.njk" %}

{% from "macros/postListing.njk" import postListing %}

{% block content %}
<main>
  <h1 class="jch-col--col-head">{{ title }}</h1>
  {{ content | safe }}
  <ul class="jch-list jch-list__feed">
  {% for post in collections.postsCollection %}
    {{ postListing(post) }}
  {% endfor %}
  </ul>
</main>
{% endblock %}
