{% extends "_html.njk" %}

{% block content %}
<main class="jch-post jch-post--article">
  <p class="jch-post--date">{{ page.date | dateformat }}</p>
  {{ content | safe }}
  <p><a href="{{ link_to }}">Go there 👉</a></p>
</main>
{% endblock %}
