{% extends "_html.njk" %}

{% from "macros/postListing.njk" import postListing %}

{% block content %}
<article>
  {% if page.fileSlug === 'home-page' %}
    {{ content | safe }}
    {% h2br %}Best Of Posts{% endh2br %}
    {% for post in collections.bestOfCollection %}
      {{ postListing(post, true) }}
    {% endfor %}
    <p><a class="tag" href="/archives/all/">All posts &rsaquo;</a></p>
  {% else %}
    <div class="title"><h1>{{ title }}</h1></div>
    {{ content | safe }}
  {% endif %}
</article>
{% endblock %}
