{% extends "_html.njk" %}

{% from "macros/postListing.njk" import postListing %}

{% block content %}
  <article>
    <div class="post-header">
      <p class=" date">
        <span>{{ page.date | dateformat }}</span></p>
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
    </div>
    {{ content | safe }}
    {% if link_to %}
      <p>
        <a href="{{ link_to }}" class="tag">Go there &rsaquo;</a>
      </p>
    {% endif %}

    {% set previousPost = collections.postsCollection | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.postsCollection | getNextCollectionItem(page) %}

    {% if previousPost or nextPost or tags %}
      {% h2br %}Read More{% endh2br %}
    {% endif %}

    {% if tags | length %}
      <h6 class="sub-head">
        <span>Tags</span>
      </h6>
      <p>
        {% for tag in tags %}
          <a href="/tag/{{ tag | slug }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </p>
    {% endif %}

    {% if previousPost %}
      <h6 class="sub-head">
        <span>Newer</span>
      </h6>
      {{ postListing(previousPost, true) }}
    {% endif %}

    {% if nextPost %}
      <h6 class="sub-head">
        <span>Older</span>
      </h6>
      {{ postListing(nextPost, true) }}
    {% endif %}

  </article>
{% endblock %}