{% extends "_html.njk" %}

{% block content %}
<main class="jch-post jch-post--article">
  {{ content | safe }}
  <p><a href="{{ link_to | safe }}">&mdash; {{ citation | safe }}</a></p>
</main>
{% endblock %}
