{% extends "_html.njk" %}

{% from "macros/postListing.njk" import postListing %}

{% block content %}
<main>
  <h1 class="jch-col--col-head">Tagged "{{ tag }}"</h1>
  <p><a href="/archives/tags/">👈 All tags</a></p>
  <ul class="jch-list jch-list__feed">
  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    {{ postListing(post) }}
  {% endfor %}
  </ul>
</main>
{% endblock %}
