{% extends "_html.njk" %}

{% from "macros/postListing.njk" import postListing %}

{% block content %}
  <article>
    <div class="title">
      <h1>Tagged "{{ tag }}" [{{ collections[tag] | length }}]</h1>
    </div>
    <p>
      <a href="/archives/tags/" class="tag">&lsaquo; All tags</a>
    </p>
    {% set taglist = collections[tag] %}
    {% for post in taglist | reverse %}
      {{ postListing(post) }}
    {% endfor %}
  </article>
{% endblock %}