{% macro tagListing(tag) %}
  <li>
    <a class="tag" href="/tag/{{ tag.name | slug }}">{{ tag.name | safe }} ({{ tag.count }} posts)</a>
    {% if tag.desciption %}<span class="small">{{ tag.desciption }}</span>{% endif %}
  </li>
{% endmacro %}