<ul>
    <li>
        <a href="/about/">About</a> and <a href="/now/">Now</a>
    </li>
    <li>
        <a href="/archives/all/">All Posts</a>,
        <a href="/archives/tags">All Tags</a>, and
        <a href="/feed.xml">RSS</a>
    </li>
    <li>
        <a href="https://twitter.com/joshcanhelp">Twitter</a>,
        <a href="https://github.com/joshcanhelp">GitHub</a>,
        <a href="https://packagist.org/users/joshcanhelp/">Composer</a>, and
        <a href="https://www.linkedin.com/in/joshcanhelp/">LinkedIn</a>
    </li>
</ul>

<p>Unless attributed, words, photographs, and graphics are my own. This blog is proudly built using <a
        href="https://www.11ty.dev">Eleventy</a>.</p>
