<p>
    I posted my first tweet March 19th, 2008 and have used it fairly consistently since then. 
    On February, 2021, 
    <a href="https://www.nytimes.com/2016/11/20/jobs/quit-social-media-your-career-may-depend-on-it.html">inspired by Cal Newport</a>, 
    I unfollowed everyone, downloaded an archive from the site, and deleted 9,920 tweets.
</p>

<blockquote>
    The idea of purposefully introducing into my life a service designed to fragment my attention 
    is as scary to me as the idea of smoking would be to an endurance athlete, and it should be 
    to you if you’re serious about creating things that matter.
</blockquote>

<p>
    I publish new posts there as I have for over a decade and occasionally share articles.
    I don't log in at all anymore so if you want to comment on something I've written, you can
    post an <a href="https://github.com/joshcanhelp/josh-to-11/issues">Issue on GitHub</a> (even if you don't have an issue) or write me directly at
    <code>josh @ this domain</code>.
</p>
