{% extends "_html.njk" %}

{% from "macros/postListingSmall.njk" import postListingSmall %}

{% block content %}
  <article class="layout-all-posts">
    <div class="title">
      <h1>All {{ collections.postsCollection | length }} of my posts</h1>
    </div>

    {% hireme %}

    {{ content | safe }}

    {% set currentYear = 0 %}
    {% for post in collections.postsCollection %}
      {% set postYear = post.date.getFullYear() %}
      {% if currentYear !== postYear %}
        {% h2br %}{{ postYear }}{% endh2br %}
        {% set currentYear = postYear %}
      {% endif %}
      {{ postListingSmall(post) }}
    {% endfor %}
  </article>
{% endblock %}