---
title: "All Tags"
permalink: archives/tags/index.html
---

{% from "macros/tagListing.njk" import tagListing %}

{% extends "_html.njk" %}

{% block content %}
  <article>
    <div class="title">
      <h1>All {{ collections.allTags | length }} of my tags</h1>
    </div>

    {{ content | safe }}

    <p>These tags are the topics I'm thinking and writing about currently:</p>

    <ul>
    {% for name, tag in collections.primaryTags %}
      {{ tagListing(tag) }}
    {% endfor %}
    </ul>

    <p>These tags contain posts about me and my IRL life:</p>

    <ul>
    {% for name, tag in collections.personalTags %}
      {{ tagListing(tag) }}
    {% endfor %}
    </ul>

    <p>These tags are topics that I wrote about at one point but not lately:</p>

    <ul>
    {% for name, tag in collections.archiveTags %}
      {{ tagListing(tag) }}
    {% endfor %}
    </ul>

  </article>
{% endblock %}