{% extends "_html.njk" %}

{% macro cocktailListing(post) %}
  {% if post.data.permalink %}
    <div class="card-small">
        <h3>
          <a href="{{ post.url | safe }}">{{ post.data.title | safe }}</a>
        </h3><br>
        <p class="display-tags"><span>{{post.data.ingredients.join("</span> <span>") | safe}}</span></p>
      </div>
  {% endif %}
{% endmacro %}

{% block content %}
  <article>
    <div class="title">
      <h1>All {{ collections.cocktailsCollection | length }} Cocktails</h1>
    </div>

    {{ content | safe }}

    {% h2br "made" %}Cocktails Made [{{collections.cocktailsCollection | length }}]{% endh2br %}
    {% for cocktail in collections.cocktailsCollection %}
      {{ cocktailListing(cocktail) }}
    {% endfor %}
  </article>
{% endblock %}