---
title: "All Tags"
permalink: archives/tags/index.html
---


{% extends "_html.njk" %}

{% block content %}
  <article>
    <div class="title">
      <h1>All {{ collections.allTags | length }} of my tags</h1>
    </div>

    {{ content | safe }}
    
    <ul>
    {% for name, count in collections.allTags %}
      <li>
        <h6><a href="/tag/{{ name | slug }}">{{ name | safe }} ({{ count }})</a></h6>
        {% if tagsMetadata[name] %}<p class="small">{{ tagsMetadata[name] }}</p>{% endif %}
      </li>
    {% endfor %}
    </ul>
  </article>
{% endblock %}