{% extends "_html.njk" %}

{% block content %}

  <article>
    <div class="post-header">
      <div class="title">
        <h1>{{ title }} recipe</h1>
      </div>
    </div>

    {% if contentPrepend %}
    <p><strong>* {{ contentPrepend | safe }}</strong></p>
    {% endif %}

    {{ content | stripSquareBrackets | safe }}

    <p>
      <a href="/cocktails/" class="tag">&lsaquo; All Cocktails</a>
    </p>

    {% h2br %}Take Action{% endh2br %}

    {% include "partials/content-footer.njk" %}

  </article>
{% endblock %}