{% extends "_html.njk" %}

{% from "macros/ideaListing.njk" import ideaListing %}

{% block content %}
  <article>
    <div class="title">
      <h1>{{ title }} <strong>{{ collections.ideasCollection | length }}</strong></h1>
    </div>

    {{ content | safe }}

    {% for idea in collections.ideasCollection %}
      {{ ideaListing(idea) }}
    {% endfor %}
  </article>
{% endblock %}