{% extends "_html.njk" %}

{% block content %}
  <article>
    <div class="title">
      <h1>{{ title }} <strong>{{ collections.ideasCollection | length }}</strong></h1>
    </div>

    {{ content | safe }}

    {% for idea in collections.ideasCollection %}
      <div class="card card-idea" id="{{ idea.data.title | slug }}">
        <p class="date">
          <span>{{ idea.date | dateformat }}</span>
        </p>
        <h2>{{ idea.data.title | safe }}</h2>
        <div class="content">{{ idea.templateContent | safe }}</div>
        <p class="actions">
          <a class="tag" href="mailto:josh@joshcanhelp.com?subject={{ idea.data.title }}">
            Email me about this &rsaquo;
          </a>
        </p>
      </div>
    {% endfor %}
  </article>
{% endblock %}