{% extends "_html.njk" %}

{% from "macros/postListing.njk" import postListing %}

{% block content %}
<article>
  <div class="post-header">
      <p class="date">
        <a href="/">Home</a>
        {% if updated %}
        &rsaquo; <span>Updated {{ updated | dateformat }}</span>
        {% endif %}
      </p>
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
    </div>

  {{ content | safe }}
</article>
{% endblock %}
