{% extends "_html.njk" %}

{% from "macros/postListing.njk" import postListing %}

{% block content %}
  <article>
    <div class="post-header">
      <p class="date">
        <a href="/">Home</a> &rsaquo;
        <a href="/posts">Posts</a> &rsaquo;
        <span>{{ page.date | dateformat }}</span>
      </p>
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
    </div>

    {% if contentPrepend %}
    {% info %}{{ contentPrepend | safe }}{% endinfo %}
    {% endif %}

    {{ content | safe }}

    {% h2br %}Take Action{% endh2br %}

    {% include "partials/content-footer.njk" %}

    <h6 class="sub-head">
      <span>Subscribe via:</span>
    </h6>

    <p>
      <a href="/rss.xml" class="tag">RSS &rsaquo;</a>
      <a href="https://twitter.com/joshcanhelp" class="tag">Twitter &rsaquo;</a>
      <a href="https://github.com/joshcanhelp/josh-to-11/watchers" class="tag">GitHub &rsaquo;</a>
    <p>

    {% set previousPost = collections.postsCollection | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.postsCollection | getNextCollectionItem(page) %}

    {% h2br %}Read More{% endh2br %}

    {% if tags | length %}
      <h6 class="sub-head">
        <span>Tags</span>
      </h6>
      <p>
        {% for tag in tags %}
          <a href="/tag/{{ tag | slug }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </p>
    {% endif %}

    {% if previousPost %}
      <h6 class="sub-head">
        <span>Newer</span>
      </h6>
      {{ postListing(previousPost, true) }}
    {% endif %}

    {% if nextPost %}
      <h6 class="sub-head">
        <span>Older</span>
      </h6>
      {{ postListing(nextPost, true) }}
    {% endif %}

  </article>
{% endblock %}