{% extends "_html.njk" %}

{% from "macros/postListing.njk" import postListing %}

{% block content %}
  <article>
    <div class="post-header">
      <p class="date">
        <span>{{ page.date | dateformat }}</span></p>
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
    </div>
    {{ content | safe }}

    {% h2br %}Take Action!{% endh2br %}

    
    {% if link_to %}
    <p><a href="{{ link_to }}" class="tag" target="_blank" rel="noreferrer noopener">Go there &rsaquo;</a></p>
    {% endif %}

    <p>
      <a href="{{ metaData.gitHubLink(page) }}" class="tag" target="_blank" rel="noreferrer noopener">Suggest changes on GitHub &rsaquo;</a>
    </p>

    <p>
      <h6 class="sub-head">
        <span>Comment via:</span>
      </h6>
      <a href="mailto:josh@joshcanhelp.com?subject=Comment%20on%20{{ page.url }}" class="tag">Email &rsaquo;</a>
      <a href="{{ metaData.gitHubComment(page) }}" class="tag">GitHub &rsaquo;</a>
      {% if hn_link %}
      <a href="{{ hn_link }}" class="tag" target="_blank" rel="noreferrer noopener">Hacker News &rsaquo;</a> 
      {% endif %}
    <p>

    <p>
      <h6 class="sub-head">
        <span>Subscribe via:</span>
      </h6>
      <a href="/rss.xml" class="tag">RSS &rsaquo;</a>
      <a href="https://twitter.com/joshcanhelp" class="tag">Twitter &rsaquo;</a>
      <a href="https://github.com/joshcanhelp/josh-to-11/watchers" class="tag">GitHub &rsaquo;</a>
    <p>

    {% set previousPost = collections.postsCollection | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.postsCollection | getNextCollectionItem(page) %}

    {% if previousPost or nextPost or tags %}
      {% h2br %}Read More{% endh2br %}
    {% endif %}

    {% if tags | length %}
      <h6 class="sub-head">
        <span>Tags</span>
      </h6>
      <p>
        {% for tag in tags %}
          <a href="/tag/{{ tag | slug }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </p>
    {% endif %}

    {% if previousPost %}
      <h6 class="sub-head">
        <span>Newer</span>
      </h6>
      {{ postListing(previousPost, true) }}
    {% endif %}

    {% if nextPost %}
      <h6 class="sub-head">
        <span>Older</span>
      </h6>
      {{ postListing(nextPost, true) }}
    {% endif %}

  </article>
{% endblock %}